{% extends 'master.html' %}

{% block title %}
  <title>Notetype</title>
{% endblock %}

{% block content }

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        
          </tr>
        </thead>
        <tbody>
            {% for notetype in notetypes %}
            <tr>
            <th scope="row">{{notetype.id}}</th>
            <td>{{notetype.name}}</td>
            <td><a href="{% url 'edit_notetype' pk=notetype.id %}"><button type="button" class="btn btn-warning" >Edit</button></a>
            <a href="{% url 'delete_notetype' pk=notetype.id %}"><button type="button" class="btn btn-danger" >Delete</button></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>


  {% endblock %}